.bg-light {
  background-color: #161616 !important;
  color: white;
}
.navbar-light .navbar-brand {
  color: white
}
.navbar-light .navbar-nav .nav-link {
  color:white
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-brand{
  display: flex;
}
.navbar-brand>div>img{
  width: 100px;
}
.logo-letter{
  font-size: 30px;
  line-height: 2
}
.navbar {
  padding: .5rem 2rem .5rem 2rem;
  border-bottom: 2px solid #606060 !important;
}
a.nav-link{
  font-size: 18px;
}
a.nav-link:hover{
  /* background-color: white; */
  color: white !important;
}
.logo-letter:hover{
  color: white !important;
}

.uploading_status{
  color: black;
}
.nav-item{
  padding: 3px 10px;
}
.nav-link {
  background-color: #606060;
  padding: 5px 20px !important;
  border-radius: 5px;
}

.main-page{
  background-color: #ffffff;
}
body{
  color: white;
  padding-top:0 !important;
}
.critical{
  padding: 20px 4%;

}

.td-1{
  width: 100px !important;
}
.td-2{
  width: 60% !important;

}
.td-3{
  text-align: right ;
}
tr:hover{
  cursor: pointer;
}
.del-icon{
  cursor: pointer;
}
@media (max-width: 576px) {
  .logo-letter{
    font-size: 18px;
  }
  .header-mark{
    padding-left: 15px !important;
  }
  .logo-letter{
    line-height: 2
  }
  a.nav-link{
    font-size: 18px;
    background-color: #606060;
    padding: 5px 20px !important;
    border-radius: 5px;
  }
  .navbar {
    padding: .5rem 1rem .5rem 1rem;
    border-bottom: 2px solid #606060 !important;
  }
  .navbar-brand>div>img{
    width: 60px;
  }
  .td-letter{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.input-field{
  padding: 5% 0%;

}
.file-category{
  margin-top: 20px;
  padding: 7px;
  width: 100%;
  border-radius: 5px;
}
.download-check{
  margin-top: 20px;
}
.download-check{
  width: 18px;
  height: 18px;
}
.private-check{
  width: 18px;
  height: 18px;
}
.checkbox-field{
  padding-top: 10px;
  /* text-align: center; */
  justify-content: center;
  font-size: 22px;
}
.file-note{
  margin-top: 20px;
  width: 100%;
  padding:10px;
  border-radius: 5px;
}
.drag-file{
  margin-top: 20px;
  padding:20px;
  width: 100%;
  background-color: #ffffff;
  overflow-x:auto;
  
}
.select-file{
  background-color:#606060;
  color: white;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  padding:5px 20px;
}
.select-button{
  
  text-align: right;

}
.form-footer{
  margin-top: 30px;
  text-align: right;
}
.cancel-button{
  margin-left: 20px;
}
button{
  cursor: pointer;
}
.files{
  background-color: #f9f9f9 !important;
  color: black !important;
}
.files>tr>td>p{
  color: black !important;
}
.fade {
  opacity:1 !important;
  transition: opacity .15s linear;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-size: .75rem;
  line-height: 1rem;
  text-align: center;
  background-color: #dcdcdc;
  border-radius: .25rem;
}
td>p.name{
  width: 200px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table{
  margin-top: 20px;
  overflow-x:auto;
}

[class*="col-"] {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
hr {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	#files {
		min-height: 0;
	}
}
#debug {
	overflow-y: scroll !important;
	height: 180px;	
}

.dm-uploader {
	border: 0.25rem dashed #A5A5C7;
	text-align: left !important;
}
.dm-uploader.active {
	border-color: red;

	border-style: solid;
}
.mb-5{
  margin: 10px !important;
}
.btn-block{
  background-color:#007bff;
  width: 110px;
  cursor: pointer !important;
}
.select-button-field{
  text-align: right !important;
  padding: 0 43% 5%;
}
.p-5{
  padding:1rem !important;
  background-color: #ffffff !important;
}
.col {
  flex-basis: auto;

}
hr{
  border: none;
}
.mb-2{
  color: #606060;
}
.card {
  border-radius: 0 !important;
  width: 100%;
}
.h-100{
  display: none;
}
.dm-uploader .btn input[type=file] {
  cursor: pointer !important;
}
.header-mark{
  padding-left: 30px;
  justify-content: center;
}
.small-letter{
  font-size: 13px;
  margin-top: -12px;
  margin-bottom: 0;
}
.navbar-brand:hover{
  color: white !important;
}
.controls{
  text-align-last: right;
}